* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.header {
  background: #33A5DA;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.holder {
  background: #222222;
  width: auto;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

button {
  background: none;
  height: 30px;
  font-size: 15px;
  color: white;
  border: none;
}

.middle-buttons {
  width: 275px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.blue-buttons{
  border: 1px solid #33A5DA;
  border-radius: 12px;
  background: #33A5DA;
  width: 80px;
}

.display {
  background: #EBEBEB;
  width: 80vw;
  height: 300px;
  position: relative;
  padding-left: 60px;
}

.counter {
  position: absolute;
  right: 10px;
  top: 5px;
}

.display-name {
  position: absolute;
  top: 20px;
  border-bottom: 2px solid #33A5DA;
}

.basic-info {
  position: absolute;
  top: 80px;
}

.basic-info span {
  font-weight: bold;
}

.movies p {
  padding-left: 30px;
}
